<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lottery.app.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.lottery.app.domain.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="usertype" property="usertype" jdbcType="INTEGER" />
    <result column="recommender" property="recommender" jdbcType="INTEGER" />
    <result column="organize_id" property="organizeId" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="headimage_url" property="headimageUrl" jdbcType="VARCHAR" />
    <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
    <result column="regist_date" property="registDate" jdbcType="TIMESTAMP" />
    <result column="valid_tag" property="validTag" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lottery.app.domain.User" extends="BaseResultMap" >
    <result column="nickname" property="nickname" jdbcType="VARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, usertype, recommender, organize_id, modify_date, headimage_url, 
    phone_num, regist_date, valid_tag, password
  </sql>
  <sql id="Blob_Column_List" >
    nickname
  </sql>

  <select id="selectByPhone" resultType="com.lottery.app.domain.User">
      select * from user where user.phone_num = #{phoneNum}
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lottery.app.domain.User" >
    insert into user (userid, username, usertype, 
      recommender, organize_id, modify_date, 
      headimage_url, phone_num, regist_date, 
      valid_tag, password, nickname
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{usertype,jdbcType=INTEGER}, 
      #{recommender,jdbcType=INTEGER}, #{organizeId,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{headimageUrl,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, #{registDate,jdbcType=TIMESTAMP}, 
      #{validTag,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lottery.app.domain.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="usertype != null" >
        usertype,
      </if>
      <if test="recommender != null" >
        recommender,
      </if>
      <if test="organizeId != null" >
        organize_id,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="headimageUrl != null" >
        headimage_url,
      </if>
      <if test="phoneNum != null" >
        phone_num,
      </if>
      <if test="registDate != null" >
        regist_date,
      </if>
      <if test="validTag != null" >
        valid_tag,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="recommender != null" >
        #{recommender,jdbcType=INTEGER},
      </if>
      <if test="organizeId != null" >
        #{organizeId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="headimageUrl != null" >
        #{headimageUrl,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="registDate != null" >
        #{registDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validTag != null" >
        #{validTag,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lottery.app.domain.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null" >
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="recommender != null" >
        recommender = #{recommender,jdbcType=INTEGER},
      </if>
      <if test="organizeId != null" >
        organize_id = #{organizeId,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="headimageUrl != null" >
        headimage_url = #{headimageUrl,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null" >
        phone_num = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="registDate != null" >
        regist_date = #{registDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validTag != null" >
        valid_tag = #{validTag,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARBINARY},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lottery.app.domain.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=INTEGER},
      recommender = #{recommender,jdbcType=INTEGER},
      organize_id = #{organizeId,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      headimage_url = #{headimageUrl,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      regist_date = #{registDate,jdbcType=TIMESTAMP},
      valid_tag = #{validTag,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARBINARY}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lottery.app.domain.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=INTEGER},
      recommender = #{recommender,jdbcType=INTEGER},
      organize_id = #{organizeId,jdbcType=VARCHAR},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      headimage_url = #{headimageUrl,jdbcType=VARCHAR},
      phone_num = #{phoneNum,jdbcType=VARCHAR},
      regist_date = #{registDate,jdbcType=TIMESTAMP},
      valid_tag = #{validTag,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>